@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}
span:focus{outline: none;}
i {cursor: pointer;}

body{font-size: 16px; line-height: 1.6; background: #fff;}
.wrap{width: 100%; margin: 0 auto; overflow: hidden; position: relative;}

.container {
    position: relative;
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 276px;
    background-color: #f6f6f6;
    color : #7e7e7e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
  }
  
  .user-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  
  .sidebar nav ul {
    list-style: none;
  }
  
  .sidebar nav ul li {
    cursor: pointer;
    padding: 5.5px;
  }
  
  .sidebar footer {
    margin-top: auto;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  footer i{
    margin-right: 2vw;
  }
  
  .sidebar-contents {
    height: 30vh;
    padding: 2rem;
  }
  
  .sidebar-contents h3 {
    font-size: 12px;
    font-weight: bold;
    color: #9f9f9d;
  }
  
  .page-list,
  .todo-list{
    height: 100%;
    overflow-y: scroll;
  }

  .page-list li,
  .todo-list li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    border-radius: 10px;
  }

  .page-list li:hover,
  .todo-list li:hover{
    background-color: #eee;
    transition: 0.2s ease-in;
  }

  .deleteTodoBtn{
    position: absolute;
    right: 0;
    display: none;
    margin-left: 10px;
    transition: 0.3s ease-in;
  }
  
  .todoList-item:hover .deleteTodoBtn{
    display: inline!important;
  } 

  .page-list li i,
  .todo-list li i{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1rem
  }

  .todoList-header {
    font-size: 12px;
    font-weight: bold;
    color: #9f9f9d;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
  }

  .todoList-header i{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    border-radius: 5px;
  }

  .todoList-header i:hover{
    background-color: #eee;
    transition: 0.2s ease-in;
  }


  .editor {
    flex: 1;
    padding: 200px;
    color: #908f8d;
    font-size: 14px;
  }
  
  .page-title {
    font-size: 48px;
    margin-bottom: 28px;
    color: #dcdcdc;
  }
  
  #editor {
    border: none;
    outline: none;
  }

  .logo-wrapper{
    position: absolute;
    bottom: 4%;
    right: 4%;
    width: 50px;
  }

  .logo-wrapper img{
    width: 100%;
  }