@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  vertical-align: middle;
}
a img {
  border: none;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}
span:focus {
  outline: none;
}
i {
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: none;
}

input,
button,
a,
span,
i {
  outline: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Sidebar Styling */
.sidebar {
  width: 276px;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f8f7;
  color: #7e7e7e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition:
    transform 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  position: relative;
  box-sizing: border-box;
  height: 5%;
}

.sidebarHeader i {
  position: absolute;
  right: 0;
  margin-right: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

.logoIcon {
  width: 100%;
  height: 5%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.clotionLogoImg {
  width: 24px;
  height: 24px;
}

.logoIcon i {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

.sidebarHeaderLeft {
  display: flex;
  padding: 5px;
  gap: 10px;
  position: relative;
}

.sidebarHeaderRight {
  display: flex;
  padding: 5px;
  gap: 10px;
}

.sidebarHeaderLeft button {
  border: none;
  background: none;
}

.userImg {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.sidebarHeader h2 {
  font-size: 14px;
  font-weight: bold;
}

.imgButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  transition: opacity 0.1s;
}

.imgButton:hover {
  opacity: 0.9;
}

/*사이드 바 contents 스타일링 */

.sidebar nav ul li {
  cursor: pointer;
  padding: 5.5px;
  border-radius: 10px;
  color: #7a7669;
  transition: background 0.2s ease-in;
}

.sidebar nav ul li:hover {
  background-color: #eee;
}

.sidebar footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

footer i {
  margin-right: 2vw;
}

/* Sidebar Contents */
.sidebarContents {
  max-height: 45%;
  padding: 0 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.todoListHeader {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #9f9f9d;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.sidebarContents h3,
.todoListHeader {
  font-size: 12px;
  font-weight: bold;
  color: #9f9f9d;
}

.todoListHeader i {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  border-radius: 5px;
}

.todoListHeader i:hover {
  background-color: #eee;
  transition: 0.2s ease-in;
}

.pageList,
.todoList {
  font-size: 0.8rem;
  height: 40vh;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.setUserNamePopup{
  z-index: 10;
  left: 10%;
}

.pageList li,
.todoList li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2px;
  cursor: pointer;
  border-radius: 10px;
  color: #7a7669;
  transition: background-color 0.2s ease-in;
}

.pageList li{
  display: block;
}

.todo-text{
  padding-top: 0.1rem;
}


.pageList li:hover,
.todoList li:hover {
  background-color: #eee;
}

/*메뉴 버튼 */
.pageList li .menuButton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.pageList li:hover .menuButton {
  opacity: 1;
}

.deleteTodoBtn {
  position: absolute;
  right: 0;
  top: 25%;
  display: none;
  transition: 0.3s ease-in;
}

.todoListItem:hover .deleteTodoBtn {
  display: inline !important;
}

.pageList li i,
.todoList li i {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1rem;
}

.pageInfo{
  position: absolute;
  top: 8px;
  left: 30px;
}

.create{
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 8px;
  right: 2px;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}

.menuButton{
  position: absolute;
  top: 8px;
  right: 35px;
}


/* Editor Styling */
.editor {
  flex: 1;
  padding: 100px;
  color: #908f8d;
  font-size: 14px;
  transition:
    margin-left 0.3s ease-in-out,
    width 0.3s ease-in-out;
  margin-left: 276px;
}

.contentBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  min-height: 20px;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.contentBlock:focus {
  outline: none;
  border-bottom: 2px solid #eeeeee;
}

.sidebar.hidden + .editor {
  margin-left: 0;
}

.contentBlock[draggable='true'] {
  opacity: 0.7;
  cursor: grabbing;
}

#showSidebarBtn {
  position: absolute;
  left: 5%;
  top: 5%;
  transition:
    transform 0.4s ease-in-out,
    opacity 0.2s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar.hidden ~ .editor #showSidebarBtn {
  display: flex;
  transform: translateX(0);
  opacity: 1;
}

.pageTitle {
  font-size: 48px;
  margin-bottom: 28px;
  color: #2a2923;
}

.pageTitle:focus,
#editor {
  outline: none;
  position: relative;
}

.drag-handle {
  cursor: grab;
  padding-right: 8px;
  font-size: 16px;
  color: #666;
  user-select: none;
}

/* Logo Styling */
.logoWrapper {
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 50px;
}

.logoWrapper img {
  width: 100%;
}

/* setUserName popup style */
.setUserNamePopup {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  gap: 10px;
  position: absolute;
  top: 2.5rem;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  align-items: center;
}

.setUserNamePopup img {
  width: 15px;
  height: 15px;
}

.userNameInput {
  display: none;
  position: absolute;
  left: 35px;
  top: 9px;
  width: 70%;
}

/* 인라인 편집 input 스타일 */
.inlineInput {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: white;
}

/* 컨텍스트 메뉴 */
.contextMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 0.2px solid #ccc;
  z-index: 10;
  padding: 0.5rem;
  font-size: 0.7rem;
}

.contextMenu ul {
  padding: 0;
}

.contextMenu ul li {
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  color: rgb(98, 98, 98);
}

.contextMenu ul li i{
  font-size: 0.7rem;
}

.contextMenu ul li:hover {
  background: #f0f0f0;
  color: #1e1e1e;
}

.contextMenu.hidden {
  display: none;
}

.pageItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  position: relative;
}

.pageItem:hover {
  background-color: #cbcbcb;
}

.pageItem:hover .create {
  opacity: 1;
  visibility: visible;
}

.pageInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}

.docIcon {
  width: 16px;
  height: 16px;
}

.menuButton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.pageItem:hover .menuButton {
  opacity: 1;
}


.teamWrapper {
  color: #7e7e7e;
  font-size: 0.8rem;
  position: absolute;
  bottom: 12%;
  right: 5%;
  width: 8%;
  border-radius: 15px;
  border: #eee 2px solid;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(10px); 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none; 
  box-shadow: 1px 1px 8px rgba(116, 116, 116, 0.15);
}

.logoWrapper:hover ~ .teamWrapper {
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto; 
}

.teamName{
  border-bottom: #eee 1px solid;
}

.member{
  display: flex;
  padding: 0.2rem;
  width: 100%;
  align-items: baseline
}

.memIcon {

  margin-right: 10px;
}
