@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  vertical-align: middle;
}
a img {
  border: none;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}
span:focus {
  outline: none;
}
i {
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: none;
}

button,
a,
span,
i {
  outline: none;
  cursor: pointer;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Sidebar Styling */
.sidebar {
  width: 276px;
  background-color: #f8f8f7;
  color: #7e7e7e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

.userImg {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.sidebarHeader h2 {
  font-size: 14px;
  font-weight: bold;
}

.imgButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: block;
  transition: opacity 0.1s;
}

.imgButton:hover {
  opacity: 0.9;
}

/*사이드 바 contents 스타일링 */

.sidebar nav ul li {
  cursor: pointer;
  padding: 5.5px;
  border-radius: 10px;
  color: #7a7669;
  transition: background 0.2s ease-in;
}

.sidebar nav ul li:hover {
  background-color: #cbcbcb;
  color: black;
}

.sidebar footer {
  margin-top: auto;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

footer i {
  margin-right: 2vw;
}

/* Sidebar Contents */
.sidebarContents {
  height: 30vh;
  padding: 2rem;
}

.todoListHeader {
  font-size: 12px;
  font-weight: bold;
  color: #9f9f9d;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.sidebarContents h3,
.todoListHeader {
  font-size: 12px;
  font-weight: bold;
  color: #9f9f9d;
}

.todoListHeader i {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  border-radius: 5px;
}

.todoListHeader i:hover {
  background-color: #eee;
  transition: 0.2s ease-in;
}

.pageList,
.todoList {
  height: 100%;
  overflow: scroll;
}

.pageList li,
.todoList li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px;
  cursor: pointer;
  border-radius: 10px;
  color: #7a7669;
  transition: background-color 0.2s ease-in;
}

.pageList li:hover,
.todoList li:hover {
  background-color: #cbcbcb;
  color: black;
}

.deleteTodoBtn {
  position: absolute;
  right: 0;
  display: none;
  transition: 0.3s ease-in;
}

.todoListItem:hover .deleteTodoBtn {
  display: inline !important;
}

.pageList li i,
.todoList li i {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1rem;
}

/* Editor Styling */
.editor {
  flex: 1;
  padding: 200px;
  color: #908f8d;
  font-size: 14px;
}

.pageTitle {
  font-size: 48px;
  margin-bottom: 28px;
  color: #2a2923;
}

.pageTitle:focus,
#editor {
  outline: none;
}

/* Logo Styling */
.logoWrapper {
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 50px;
}

.logoWrapper img {
  width: 100%;
}
